<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="scss/style.css">
</head>

<body>
    <header>
        <div class="container">
            <div>
                <a href="index.html">
                    <img src="images/logo.png" alt="logo">
                </a>
            </div>

            <nav>
                <ul>
                    <a href="">
                        <li>Home
                    </a></li>
                    <a href="">
                        <li>About Us
                    </a></li>
                    <a href="">
                        <li>Testomonial
                    </a></li>
                    <a href="">
                        <li>Contacts
                    </a></li>
                </ul>
            </nav>

            <div class="icons">
                <i class="bi bi-bag-dash"></i>
                <i class="bi bi-search"></i>

            </div>
        </div>
    </header>

    <section class="banner">
        <div class="banner-content">
            <h1>An enterprise franchising
                the Nepali Coffee brand</h1>

            <p>Discover tranquility at Ngopi a sanctuary for unwinding,
                where your evenings are perfected with relaxation and rich flavors.</p> <button>EXPLORE PRODUCT</button>
        </div>



    </section>

    <section class="features">
        <div class="container">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Latte_and_dark_coffee.jpg/1200px-Latte_and_dark_coffee.jpg" alt="coffee">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Latte_and_dark_coffee.jpg/1200px-Latte_and_dark_coffee.jpg" alt="coffee">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Latte_and_dark_coffee.jpg/1200px-Latte_and_dark_coffee.jpg" alt="coffee">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Latte_and_dark_coffee.jpg/1200px-Latte_and_dark_coffee.jpg" alt="coffee">
        </div>
    </section>

    <section class="counter">
        <div class="container">
            <div class="counter-box">
                <h2>30+</h2>
                <p>Coffee Varient</p>
                </div>


                <div class="counter-box">
                    <h2>30+</h2>
                    <p>Coffee Varient</p>
                </div>

                <div class="counter-box">
                    <h2>30+</h2>
                    <p>Coffee Varient</p>
                </div>
                <div class="counter-box">
                <h2>30+</h2>
                <p>Coffee Varient</p>
           
        </div>

    </section>

    <section class="products">
        <div class="container">
            <div class="t">
                <p>Our Products</p>
                <h3>From Top Quality Products</h3>
            </div>

            <div class="products-inner">
                <div class="products-inner-box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Latte_and_dark_coffee.jpg/1200px-Latte_and_dark_coffee.jpg">
                    <p>Chocolate Latte</p>
                    <h4><i class="bi bi-star"></i>4.9 (360 reviews)</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, ad consequatur molestiae, sint laborum obcaecati nemo corporis ab cum, fugiat minima dolorum dolore adipisci! Excepturi sequi ea doloremque sapiente tenetur?</p>

                    <div class="price">
                        <h5>$2.9</h5>
                        <div class="btn">+</div>
                    </div>
                </div>


                    <div class="products-inner-box">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Latte_and_dark_coffee.jpg/1200px-Latte_and_dark_coffee.jpg">
                        <p>Chocolate Latte</p>
                        <h4><i class="bi bi-star"></i>4.9 (360 reviews)</h4>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, ad consequatur molestiae, sint laborum obcaecati nemo corporis ab cum, fugiat minima dolorum dolore adipisci! Excepturi sequi ea doloremque sapiente tenetur?</p>
    
                        <div class="price">
                            <h5>$2.9</h5>
                            <div class="btn">+</div>
                        </div>
                    </div>

                    <div class="products-inner-box">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Latte_and_dark_coffee.jpg/1200px-Latte_and_dark_coffee.jpg">
                        <p>Chocolate Latte</p>
                        <h4><i class="bi bi-star"></i>4.9 (360 reviews)</h4>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, ad consequatur molestiae, sint laborum obcaecati nemo corporis ab cum, fugiat minima dolorum dolore adipisci! Excepturi sequi ea doloremque sapiente tenetur?</p>
    
                        <div class="price">
                            <h5>$2.9</h5>
                            <div class="btn">+</div>
                        </div>
                    
                    </div>

                
                <div class="products-inner-box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Latte_and_dark_coffee.jpg/1200px-Latte_and_dark_coffee.jpg">
                    <p>Chocolate Latte</p>
                    <h4><i class="bi bi-star"></i>4.9 (360 reviews)</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, ad consequatur molestiae, sint laborum obcaecati nemo corporis ab cum, fugiat minima dolorum dolore adipisci! Excepturi sequi ea doloremque sapiente tenetur?</p>

                    <div class="price">
                        <h5>$2.9</h5>
                        <div class="btn">+</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="f-left">
                <img width="100" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Latte_and_dark_coffee.jpg/1200px-Latte_and_dark_coffee.jpg">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore nesciunt cum, corporis necessitatibus provident rem ipsam corrupti, tenetur, hic consectetur perferendis rerum. Omnis expedita quae quia nam pariatur laborum id?</p>

                <p>abc@gmail.com</p><br>
                Phone:+01-23456789
            </div>

            <div class="f-right">
                <div>
                    <h3>Quick Links</h3>
                    <ul>
                        <li>Home</li>
                        <li>Home</li>
                        <li>Home</li>
                        <li>Home</li>
                    </ul>
                </div>

                <div></div>
                    <h3>Quick Links</h3>
                    <ul>
                        <li>Home</li>
                        <li>Home</li>
                        <li>Home</li>
                        <li>Home</li>
                    </ul>
                </div>

            </div>
        </div>

    </footer>
</body>

</html>


<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Name</label>
    <input type="text" th:field="*{Name}" class="form-control" id="exampleFormControlInput1" placeholder="Enter your name">
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" th:field="*{Email}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>

  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>